# ===========================
# Backend
# ===========================
backend/node_modules/
backend/dist/
backend/build/
backend/.env
backend/logs/
backend/uploads/
backend/coverage/
backend/.eslintcache
backend/*.log
Backend/package-lock.json

# ===========================
# React Native
# ===========================
Frontend/node_modules/
Frontend/.expo/
Frontend/.env
Frontend/package-lock.json

# Android
Frontend/android/.gradle/
Frontend/android/app/build/
Frontend/android/build/
Frontend/android/local.properties

# iOS
Frontend/ios/build/
Frontend/ios/Pods/

# Metro
Frontend/.metro-health-check*

# ===========================
# Common
# ===========================
.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

*.tsbuildinfo

coverage/

# Environment files
.env
.env.local
.env.production
.env.development

# Misc
tmp/
temp/

# ===========================
# Frontend
# ===========================
Frontend/node_modules/
Frontend/dist/
Frontend/build/
Frontend/.env
Frontend/.cache/
Frontend/.expo/
Frontend/.expo-shared/
Frontend/.metro/
Frontend/.vscode/
Frontend/.DS_Store
Frontend/*.log